.banner {
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  margin-top: -10%;
}

.tagline {
  color: white;
  text-shadow: 1px 1px 1px grey;
}

.search-home {
  display: flex;
  align-items: center;
  justify-content: center;
}
