<div class="banner banner-home" style="background-image: url(<%=image_path('camera_banner.jpg')%>">
  <div class="banner-content">
    <h3 class="tagline">Find work experience on film projects.</h3>
    <%= link_to "Search For Projects", projects_path, class:"btn btn-primary btn-lg search-home" %>
  </div>
</div>


