.signup-container {
  width: 50%;
  color: white;
  text-shadow: 1px 1px 1px #828282;
  h2 {
    text-align: center;
  }
}

.signup-banner {
  height: 100vh;
}

.devise-shared-links a {
  color: white;
  text-shadow: 1px 1px 1px #828282;
}

.devise-shared-links a:hover {
  color: #D1D1D1;
  text-shadow: 1px 1px 1px #828282;
}

.line-shadow {
  box-shadow: 1px 1px 1px #828282;
}

.password-min {
  color: white;
}
