.banner-new-project {
  height: 100vh;
}

.form-title {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #828282;
}

.container-form {
  width: 60%;
}

.center-text {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #828282;
}

.button {
  margin-top: 15px;
  width: 200px;
}

.line-shadow {
  box-shadow: 1px 1px 1px #828282;
}

.button-row {
  display: flex;
  justify-content: center;
}
