 // Import page-specific CSS files here.
//@import "new";
@import "show";
@import "edit";
@import "new";

.project-top {
  margin-top: -20px;
}

.search-banner {
  height: 650px;
}

.project-middle {
  border-top: 1px solid white;
  padding-top: 8px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.user-card-display {
  padding-top: 30px;
}

.container_searchbar {
  margin-top: 20px;
  margin-left: 25px;
  height: 30px;
  color: #FAFAFA;
  text-shadow: 2px 2px 2px #464646;
}

.card-avatar {
  border-radius: 50%;
}

ul {
  list-style-type: none;
}

.results-container {
  margin-top: -50px;
  height: 420px;
  overflow-x: hidden;
}

.project-card {
  color: white;
  width: 70vw;
  text-shadow: 2px 2px 2px #464646;
  margin: 10px auto;
}

.project-card:hover {
  font-weight: bold;
  h2 {
    font-weight: bold;
  }
  h4 {
    font-weight: bold;
  }
}

.thick-line {
  border: none;
  height: 2px;
  color: white;
  background-color: white;
}

@media only screen and (max-width: 992px) {
  .container_searchbar {
    height: 140px;
    width: 80vw;
    margin: 0 auto;
  } #search_button {
    text-align: center;
    margin-bottom: 10px;
  } .search-banner {
    height: 800px;
  } .results-container {
    margin-left: -35px;
  }
}
