.form-title {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #828282;
}

.container-form {
  width: 60%;
  height: 700px;
}

.center-text {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 1px #828282;
}

.button {
  margin-top: 15px;
  width: 200px;
}

.line-shadow {
  box-shadow: 1px 1px 1px #828282;
}

.wide-button {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .container-form {
    width: 95vw;
    height: 700px;
  }
}

