.form {
  margin-bottom: 10px;
  margin-top: -25px;
}

.clickable-name {
  color: blue;
}

.clickable-name:hover {
  color: #148CFF;
}

.word {
  text-align: right;
  color: #878787;
}

a {
  text-decoration: none;
  color: black ;
}

a:hover {
  text-decoration: none;
  color: black ;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
  border-bottom: 1px solid #BDBDBD;
}

.align-right {
  text-align: right;
}
