.profile-info {
  margin-top: -50px;
  margin-left: 50px;
  width: 180px;
  background-color: white;
  border-radius: 5px;
}

.profile-info-content {
  margin-top: 10px;
  p {
    font-size: 12px;
    color: #616161;
  }
}

.profile .tab {
  text-align: center;
  text-decoration: none;
}

.tab-box.active {
  border-bottom: 3px solid #3781E0;
  p {
    color: #3781E0;
  }
}

.tab-box:hover {
  border-bottom: 3px solid #3781E0;
  p {
    color: #3781E0;
  }
}

.tab-box a {
  text-decoration: none;
  text-align: center;
  p {
    font-size: 14px;
  }
}

.tab-box {
  height: 30px;
  margin-left: 20px;
  width: 80px;
}

.tab-content {
  margin-top: 20px;
}

.button-word {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;
}

.profile-avatar {
  border-radius: 5px;
}

.clickable-name {
  color: blue;
}

.clickable-name:hover {
  color: #148CFF;
}

.list{
  text-align: left;
}

.review-details {
  color: #7F7F7F;
  font-size: 12px;
  margin-top: -10px;
}

.review-content {
  border: 1px solid #CCCCCC;
  padding: 2px 8px 6px 12px;
}

.review-title {
  margin-bottom: -8px;
}

.users-project {
  border: 1px solid #CCCCCC;
  padding: 6px;
  height: 40px;
}

.user-center {
  text-align: center;
}

.user-right {
  text-align: right;
}

.response-x {
  color: #961814;
}

.response-x:hover {
  color: #EF0006;
  text-decoration: none;
}
