.profile-info {
  margin-top: -50px;
  margin-left: 50px;
  width: 180px;
  background-color: white;
  border-radius: 5px;
}

.profile-info-content {
  margin-top: 10px;
  p {
    font-size: 12px;
    color: #616161;
  }
}

.profile .tab {
  text-align: center;
  text-decoration: none;
}

.tab-box.active {
  border-bottom: 3px solid $blue;
}

.tab-box:hover {
  border-bottom: 3px solid $blue;
}

.tab-box a {
  text-decoration: none;
  text-align: center;
}

.tab-box {
  height: 55px;
  margin-left: 20px;
  width: 80px;
}

.button-word {
  color: #657786;
  font-size: 12px;
  font-weight: bold;
  margin-top: 25px;
}

.profile-avatar {
  border-radius: 5px;
}

.list{
  text-align: left;
}

.reviews {
  margin-top: 10px;
}
